{% extends 'base.html' %}

{% block title %}خانه{% endblock %}

{% block header %}<span class="glyphicon glyphicon-home"></span> خانه{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery-powertip/css/jquery.powertip-orange.min.css"/>
{% endblock %}

{% block content %}
    <div class="jumbotron">
		{% if event %}
			<h1 title="تازه ترین رویداد" data-placement="ne">{{ event.location }}: {{ event.subject }} <small>(<span class="convert-date">{{ event.date_happened|date:"c" }}</span>)</small></h1>
			<p>{{ event.truncated_description|safe }}</p>
			<p><a class="btn btn-primary btn-lg" href="{% url 'detail_event' event.id %}">بیشتر بدانید &raquo;</a></p>
		{% else %}
			<h1>هیچ رویدادی ثبت نشده است.</h1>
			<p><a class="btn btn-primary btn-lg" href="{% url 'add_event' %}">ایجاد اولین رویداد &raquo;</a></p>
		{% endif %}
    </div>
	<br/>
	{% if events %}
		<table class="table">
			<caption><h2 class="alert alert-warning">رویداد های اخیر</h2></caption>
			{% for event in events %}
				<tr>
					<td style="width: 250px; max-width: 250px; vertical-align: middle; border-color: #d58512; text-align: center">
						{% if event.photo %}
							<span class="thumbnail" style="border-color: #f0ad4e; margin-bottom: 0px;">         
								<img src="{{ EVENT_IMAGES_URL }}{{ event.photo }}" style="max-height: 250px"/>
							</span>
						{% else %}
							<span class="fa fa-picture-o fa-5x"></span>{% endif %}
					</td>
					<td style="border-color: #d58512">
						<h2>{{ event.location }}: {{ event.subject }} <small>(<span class="convert-date">{{ event.date_happened|date:"c" }}</span>)</small></h2>
						<p>{{ event.truncated_description|safe }}</p>
						<p><a class="btn btn-warning" href="{% url 'detail_event' event.id %}">جزئیات رویداد &raquo;</a></p>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}