{% extends 'base.html' %}

{% block title %}تقویم{% endblock %}

{% block header %}<span class="glyphicon glyphicon-calendar"></span> تقویم{% endblock %}
	
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.picker.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jquery-datepicker/humanity.calendars.picker.css"/>
{% endblock %}

{% block content %}
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default btn-lg" id="switch-calendar-month">
			<input type="radio" name="calendar_view_type" value="month"> نمایش ماهانه
		</label>
		<label class="btn btn-default btn-lg" id="switch-calendar-year">
			<input type="radio" name="calendar_view_type" value="year"> نمایش سالانه
		</label>
	</div>
	<div class="clearfix"></div><br/>
    <div class="month-calendars-picker"></div>
	<div class="year-calendars-picker"></div>
{% endblock %}

{% block scripts %}
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.min.js"></script>
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.plus.min.js"></script>
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.picker.js"></script>
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.persian.min.js"></script>
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.picker-fa.js"></script>
	<script src="{{ STATIC_URL }}libs/jquery-datepicker/jquery.calendars.persian-fa.js"></script>
	<script>
		$(document).ready(function() {  			
			$('.year-calendars-picker').calendarsPicker({
				monthsToShow: [4, 3], 
				changeMonth: true,
				changeYear: true,
				selectOtherMonths: true,
				yearRange: '1350:1450',				
				monthsToStep: 12,
				calendar: $.calendars.instance('persian', 'fa'),
				defaultDate: convert_to_jalali(new Date(), 'yy/01/01'),
				//monthsOffset: 6,
			});

			$('.month-calendars-picker').calendarsPicker({
				changeMonth: true,
				changeYear: true,
				selectDefaultDate: true,
				showOtherMonths: true,				
				calendar: $.calendars.instance('persian', 'fa'),
				onDate: function(date) {
					//console.log(date.toJD(), $("a[class*='jd" + date.toJD() + "']").length);
					return true;
				},
				onSelect: function(date) {
					date = date[0];
					//console.log(date.toJD(),$("a[class*='jd" + date.toJD() + "']").length);
					console.log($.calendars.instance().fromJD(date.toJD()).toString());
					window.location = '/search/date/' + $.calendars.instance().fromJD(date.toJD()).toString();
				}
			});				
			
			$('#switch-calendar-month').click(function() {
				$('.year-calendars-picker').hide();
				$('.month-calendars-picker').show()
			}).trigger('click');		
			
			$('#switch-calendar-year').click(function() {
				$('.year-calendars-picker').show();
				$('.month-calendars-picker').hide();
			});
		});
	</script>
{% endblock %}